body {
    position: relative;
}

a {
    color: #fff;
}

#site-wrapper {
    padding-top: 50px;
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
}

section:last-of-type {
    margin-bottom: 0px;
}

.row {
    margin-top: 30px;
    margin-bottom: 30px;
}