body {
	position: relative;
	line-height: 1.7;
	color: #161616;
	background: #FBFFFE;

}

body.modal-open {
    overflow: hidden;
    position:fixed;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", Helvetica, sans-serif;
}

p {
	font-family: "Open Sans", Arial, serif;
}

a {
	color: #fff;
}

a:hover, a:active, a:focus {
	color: #2bf4a1;
}

#site-wrapper {
	padding-top: 50px;
}

section {
	padding-top: 50px;
	padding-bottom: 50px;
	outline: none;
}

section:last-of-type {
	padding-bottom: 0px;
}

.row {
	margin-top: 30px;
	margin-bottom: 30px;
}

#skills, #contact {
	color: #FBFFFE;
}

.headline {
	text-shadow: 3px 4px 9px rgba(22, 22, 22, 0.7);
}

.headline-reverse {
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.7);
}

.modal {
    top: 25%;
}

