/*NAVIGATION*/

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	color: #2bf4a1;
}


.navbar-inverse .navbar-nav>li>a:hover {
	color: #2bf4a1;
	padding-bottom: 8px;
	border-bottom: 1px solid #2bf4a1;
	transition: .1s linear;
}

.navbar-inverse .navbar-nav>.active>a {
	color: #2bf4a1;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: #2bf4a1;
	padding-bottom: 8px;
	border-bottom: 1px solid #2bf4a1;
	transition: .1s linear;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background: #161616;
}
 
/*HEADER / BANNER*/

header {
	color: #fff;
}

header h1 {
	color: /*#EE4266;*/ #FE4A49;
	font-size: 65px;
}

header h3 {
	font-size: 45px;
	padding-bottom: 20px;
}

@media screen and (max-width: 550px) {
	header h1 {font-size: 36px;}
	header h3 {font-size: 24px;}
}


/*ABOUT*/

.about p {
	text-align: justify;
}

.about-para {
	padding-top: 20px;
}

.tricks {
	margin-top: 40px;
	padding-top: 20px;
}

.tricks .fa {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #333;



}
.tricks h4 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.tricks p {
	margin-bottom: 20px;
	padding-bottom: 50px;
}

/*SKILLS*/

.skills-list {
	height: 70px;
	margin-top: 10px;
	margin-bottom: 10px;

	padding-left: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.skills-list li {
	list-style: none;
}

.skills-list li::before {
	content: '';
	display: inline-block;
	width: 15px;
	margin-right: 10px;
	border-top: 1px solid #2bf4a1;
	position: relative;
	top: -5px;
}

#skills h3 {
	text-align: left;
}

#skills p {
	font-size: 12px;
	text-align: justify;

}

/*PROJECTS*/

/*CONTACT*/

.footer-heading {
	padding-bottom: 60px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#contact h4 {
	font-weight: 600;
}

.mail {
	color: #2bf4a1;
}

.bottom-footer {
	padding-bottom: 90px;
}

.social-media {
	text-align: right;
	margin-top: 10px;
}
.social-media a {
	padding: 20px;
}

.social-media a:hover {
	color: #2bf4a1;
	transition: .5s linear;
}

@media screen and (max-width: 767px) {
	#contact {
		text-align: center;
	}

	.social-media {
		margin-top: 20px;
		text-align: center;
	}
	.social-media a {
		padding: 10px;
	}
}

